@import "tailwindcss";

:root {
    /* Fonts */
    --titulos: 'Montserrat', sans-serif;
    --paragrafos: 'Inter', sans-serif;
    --corpo: 'Work Sans', sans-serif;

    /* Colors */
    --blue: #206FBD;
    --green: #87BF34;
    --pink: #F266C1;
    --red: #E74335;
    --clear-pink: #FF89D6;
    --baby-blue: #0087ED;

    /* Animações */
    --animation-left-mobile: move_left_mobile 3s linear infinite;
    --animation-right-mobile: move_right_mobile 3s linear infinite;
    --animation-left-desktop: move_left_desktop 3s linear infinite;
    --animation-right-desktop: move_right_desktop 3s linear infinite;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titulos);
}

p:not(.exception), span:not(.exception), li:not(.exception) {
    font-family: var(--corpo);
}

#lista-servicos {
    list-style-image: url('~/assets/svg/dot-circle.svg');
}

#pictures {
    background: 
        url("/img/BG_2.webp") repeat-y left top,
        url("/img/BG_2.webp") repeat-y right 75px; /* começa um pouco mais embaixo */
    background-size: 120px;
    opacity: 0.5;
}

@keyframes move_left_mobile {
    0% { left: -130px; }
    50% { left: -110px; }
    100% { left: -130px; }
}

@keyframes move_right_mobile {
    0% { right: -150px; }
    50% { right: -130px; }
    100% { right: -150px; }
}

@keyframes move_right_desktop {
    0% { right: -200px; }
    50% { right: -180px; }
    100% { right: -200px; }
}

@keyframes move_left_desktop {
    0% { left: -200px; }
    50% { left: -180px; }
    100% { left: -200px; }
}